{
  "ignorePatterns": [
    "package-lock.json"
  ],
  "overrides": [
    {
      "extends": [
        "canonical",
        "canonical/node",
        "canonical/typescript",
        "canonical/typescript-disable-type-checking",
        "canonical/prettier"
      ],
      "files": "*.ts"
    },
    {
      "extends": [
        "canonical/json"
      ],
      "files": "*.json"
    }
  ]
}