{
  "ignorePatterns": [
    "package-lock.json",
    "ExportMap.ts"
  ],
  "overrides": [
    {
      "extends": [
        "canonical",
        "canonical/node",
        "canonical/typescript",
        "canonical/prettier"
      ],
      "rules": {
        "unicorn/expiring-todo-comments": 0,
        "@typescript-eslint/no-for-in-array": 0,
        "n/no-sync": 0
      },
      "files": "*.ts"
    },
    {
      "extends": [
        "canonical/json"
      ],
      "files": "*.json"
    }
  ]
}